{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<div class="container py-5 main-design">
  <form method="POST" action="{{url_for('login')}}">
    <div class="row justify-content-start mb-3">
      <div class="col-5 h1">Login</div>
    </div>

    <!-- User name-->
    <div class="row mb-4 justify-content-star">
      <div class="col-3 col-form-label">
        <label for="user_name">User name</label>
      </div>
      <div class="col-5">
        <input
          type="text"
          id="user_name"
          name="user_name"
          class="form-control"
        />
      </div>
    </div>

    <!-- User password-->
    <div class="row mt-4 justify-content-start">
      <div class="col-3 col-form-label">
        <label for="user_pass">Password</label>
      </div>
      <div class="col-5">
        <input
          type="password"
          id="user_pass"
          name="user_pass"
          class="form-control"
        />
      </div>
    </div>

    <!-- btn-->
    <div class="row mt-4 justify-content-start">
      <div class="col-3"></div>
      <div class="col-5">
        <input type="submit" value="Login" class="col-12 btn btn-warning" />
      </div>
    </div>
  </form>
</div>

{% endblock %}
